*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    f
  
 3re.carpx;
    color: #000066;
}

.our_cares .cares_member p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}


