*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    f
  
 3re.cares_member .member_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.our_cares .cares_member h3{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin: 10px 0px 0px;
    padding: 0;
}

.our_cares .cares_member span{
    font-size: 10px;
    color: #000066;
}

.our_cares .cares_member p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}


